@model IEnumerable<BookModel> 

@{ 
    ViewBag.Title = "Get All Books";
}

<div class="container">
    <h5 class="display-4">All Books</h5>
    <div class="row">

        @{ foreach (var item in Model)
            {
                <div class="col-md-4">
                    <partial name="_BookCardWithModel" model="@item" />
                </div>
            }

        }

        
    </div>
</div>        
