<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<body class="container-fluid" style="padding-right:0px;padding-left:0px">
    <partial name="_Header" />

    <main role="main">
        @RenderBody()
    </main>

    @*<footer class="border-top footer text-muted text-center">
        <div class="container">
            Copyright &copy; Book Store @DateTime.Now.Year
        </div>
    </footer>*@
</body>
</html>

<environment include="Development">
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
</environment>

<script src="~/lib/popper.js/umd/popper.min.js"></script>
<script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>

@RenderSection("customscripts", required: false)

